<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Editing Item</h1>
  <br>
  <br>

  <%= render "form", book: @book %>

  <%= link_to "Show this Item", @book, class: "btn btn-info" %>
  <%= link_to "Back to Items", books_path, class: "btn btn-primary" %>
</div>
